
body { font-family: Futura, san-serif; }
#text-1 { font-family: Futura, san-serif; text-align:  center;     font-size: 150%;}

#controls {
position: absolute;
top: 100px;
left:7%;
/*margin: 0% 5%;*/
z-index: 4;

}

.home {
border: 10px;
}
#position {
position: absolute;
left: 50%;
top: 33%;
-ms-transform: translate(-25%, -12.5%); /* IE 9 */
-webkit-transform: translate(-25%, -12.5%); /* Safari */
transform: translate(-50%, -25%);

z-index: 5;
}


#menubar{
position: relative;
left: 25% !important;

}
#refresh {

  position: absolute;
  right: 20px;
  bottom: 80px;


}

#switch {

  position: absolute;
  left: 20px;
  bottom: 100px;

}

#vertical {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#verticalslider {
  position: absolute;
  top: 50%;
  width: 90%;

}

/*[data-role=width]{width: 50% !important; position:relative !important;}*/

[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%; height: 70px !important;}
[data-role=flipswitch]{height: 20px !important;width: : 20px !important;}

.dial{

width: 100px !important;
}

.ui-icon-circle:after {
	background-image: url("./assets/navbaricons/DataEvolution_tabbuttons_home_w.svg");


}
.ui-icon-circle-orange:after {
	background-image: url("./assets/navbaricons/DataEvolution_tabbuttons_home_b.svg");
  background-color: white;

}
.ui-icon-twitter:after {
	background-image: url("./assets/navbaricons/DataEvolution_tabbuttons_twitter_w.svg");
}
.ui-icon-twitter-orange:after {
	background-image: url("./assets/navbaricons/DataEvolution_tabbuttons_twitter_b.svg");
  background-color: white;

}
.ui-icon-graph:after {
	background-image: url("./assets/navbaricons/DataEvolution_tabbuttons_graph_w.svg");

}
.ui-icon-graph-orange:after {
	background-image: url("./assets/navbaricons/DataEvolution_tabbuttons_graph_b.svg");
  background-color: white;

}
.ui-icon-hashtag:after {
	background-image: url("./assets/navbaricons/DataEvolution_tabbuttons_hash_w.svg");

}
.ui-icon-hashtag-orange:after {
	background-image: url("./assets/navbaricons/DataEvolution_tabbuttons_hash_b.svg");
  background-color: white;

}

.ui-btn-icon-notext {
  width:50px !important;
  height: 50px !important;
}

/* Hide the number input */


.full-width-slider input {
  display: none;
}

.full-width-slider .ui-slider-track {
  margin-left: 15px;
}
